*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(150deg, #347a68, #1b2735);
    height: 100vh;  
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin: 100px auto 0;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    height: 60px;
    padding: 10px 25px;
    background: #ebfffc;
    color: #555;
    border: 0;
    border-radius: 30px;
    outline: 0;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    width: 60px;
    height: 60px;
    background: #ebfffc;
    border: 0;
    outline: 0;
    border-radius: 50%;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}

.col {
    display: flex;
    text-align: left;
    align-items: center;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

.search-action {
    height: 20px;
    font-size: 14px;
    color: #ffdddd;
    margin-left: 10px;
    margin-top: 5px;
}